* {
    font-family: 'Gilam', sans-serif;
}

body {
    background: #171717;
}

.container {
    max-width: 1460px;
    margin: auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 37px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Circe';
    font-weight: 400;
    font-size: 18px;
    color: #E4B564;
    text-decoration: none;
    padding: 10px 25px;
    border: 1px solid #E4B564;
}

.main-section {
    margin-top: 120px;
}

.section-title {
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}

.section-text {
    max-width: 1182px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.main-section-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr) ;
    grid-template-rows: auto;
    gap: 30px;
    grid-template-areas: 
        "item1 item1 item2 item2 item3 item3"
        "item4 item4 item4 item5 item5 item5";   
}

.main-section-grid .grid-element {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 220px 44px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.main-section-grid .item1 {
    grid-area: item1;
    background: #634F2C;
}

.main-section-grid .item2 {
    grid-area: item2;
    background: #B4A385;
}

.main-section-grid .item3 {
    grid-area: item3;
    background: #E4B564;
}

.main-section-grid .item4 {
    grid-area: item4;
    background: #635A4A;
}

.main-section-grid .item5 {
    grid-area: item5;
    background: #B08C4D;
}

.equipment {
    margin-top: 160px;
    padding-bottom: 190px;
}

.equipment-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    margin-top: 94px;
}

.grid-block {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 30px;
    align-content: start;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.grid-block.block1 {
    grid-template-areas: 
        "item1"
        "item4";  
}

.grid-block.block2 {
    grid-template-areas:
        "item2"
        "item5";
}

.grid-block.block3 {
    grid-template-areas:
        "item3"
        "item6"
        "item7";
}

.grid-element {
    padding: 44px 48px;
    box-sizing: border-box;
}

.grid-element span {
    font-weight: 600;
} 

.equipment-grid .item1 {
    grid-area: item1;
    background: #0E0E0E;
    height: 313px;
}

.equipment-grid .item2 {
    grid-area: item2;
    background: #242424;
    height: 439px;
}

.equipment-grid .item3 {
    grid-area: item3;
    background: #1F1F1F;
    height: 255px;
}

.equipment-grid .item4 {
    grid-area: item4;
    background: #1F1F1F;
    height: 560px;
}

.equipment-grid .item5 {
    grid-area: item5;
    color: #000000;
    background: #E4B564;
    height: 405px;
}
.equipment-grid .item6 {
    grid-area: item6;
    background: #0E0E0E;
    height: 313px;
}

.equipment-grid .item7 {
    grid-area: item7;
    background: #0A0909;
    height: 277px;
}

.projects {
    background: #0E0E0E;
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 160px;
}

.title-wrapper .btn {
    padding: 10px 40px;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    margin-top: 60px;
}

.projects-item {
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projects-item.item1 {
    background: #634F2C;
}

.projects-item.item2 {
    flex-direction: column;
    padding: 0 85px;
    background: rgba(232, 210, 171, 0.76);
}

.projects-item .item-text {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
}

.item-text span {
    font-weight: 600;
}

.projects-item.item3 {
    background: #E4B564;
}

.projects-item.item4 {
    background: #635A4A;
}

.projects-item.item5 {
    background: #B08C4D;
}

.projects-item.item6 {
    background: #634F2C;
}

footer {
    height: 238px;
    background: #171717;
}